QPushButton[text="Click here"] {
    color: red;
    background-color: beige;
    height: 30px;
}

QLineEdit {
    color: chartreuse;
    background-color: grey;
    height: 35 px;
}

QPushButton[text = "Ok"] {
    color : white;
    background-color : green;
}

QPushButton[text = "Cancel"] {
    color: white;
    background-color: red;
}

/* Defines style rules for QLabel elements that are direct children of QWidget elements */
QWidget > QLabel {
    font-weight : bold;
    font-size: 30 px;
}